<h1>Editing Purchase Order</h1>

<%= render 'form' %>
<!-- TODO if employee.is_admin allow to edit po.quantities such as received_qty, etc -->
<%= link_to 'Show', @purchase_order %> |
<%= link_to 'Back', purchase_orders_path %>
